/* 
Lab: Basics Grids and Flexbox
=== Do not change CSS below === 
*/


* {
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 14pt;
    line-height: 18pt;
    background-color: whitesmoke;
    padding: 0;
    margin: 0;
    color: #052e00;

}


    
header {
    display: grid;
    padding: 40px 20px 40px 20px;
    background-color: whitesmoke;
    grid-template-columns: 50% 50%;
}

main {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-row-gap: 25px;
}

footer {
     font-family: 'Helvetica';
    display: grid;
    padding: 0 70px;
    color: whitesmoke;
    height: 30px;
    text-align: center;
    margin: 20px;
    font-size:10pt;
}

nav {
    text-align: right;
}

a {
    text-decoration: none; 
    color: #262D33;
    grid-template-columns: 33% 33% 33%;
    margin: 30px;
}

h1 {
    font-family: 'futura';
    font-weight: bold;
    font-size: 42pt; 
    color: #1D4E11;
    margin: 0 0;
}


.splash {
    background-size: cover;
    min-height: 300px;
    background-image: url("pastries2.jpg");
    color: whitesmoke;
    font-weight: bold;
    font-size: 100pt;
    padding-top: 180pt;
	padding-left: 20pt;
    display: block;
}

#splashSection {
    display: flex;
    background-color: whitesmoke;
    background-position: center center;
    height: 500px;
     display: flex; 

}

#splash2 {
     grid-template-columns: 33.33% 33.33% 33.33%;
    background-image: url(milan05.jpg);
    grid-column-start: 2;
    grid-column-end: 4;
    margin: 20px;

}

#splash3 {
     grid-template-columns: 33.33% 33.33% 33.33%;
    background-image: url(milan07.jpg);
    grid-column-start: 1;
    grid-column-end: 3;
    margin: 20px;
    
}


#milan { 
    display: grid; 
    grid-column-start: 1;
    grid-column-end: 4;
    grid-template-columns: 33.33% 33.33% 33.33%;
}

#milan-text-1,
#milan-text-2 {
    padding:70px;
    color: #298235;
    text-align: center;
    font-family: 'Helvetica';
    line-height: 25pt;
}

/* === Add New CSS Below === */
