/* 
Lab: Basics Grids and Flexbox
=== Do not change CSS below === 
*/


* {
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 14pt;
    line-height: 18pt;
    background-color: white;
    padding: 0;
    margin: 0;
    color: #052e00;

}


    
header {
    display: grid;
    background-color: whitesmoke;
}


footer {
     font-family: 'Helvetica';
    display: grid;
    padding: 0 70px;
    color: #4D4D4D;
    height: 30px;
    text-align: center;
    
    font-size: 10pt;
}

nav {
 grid-template-columns: 33.33% 33.33% 33.33%;
    margin-left: 130px;
}

a { 
    text-decoration: none;
    color: #262D33;
   padding: 140px;
    font-size: 13pt;
}

 h1 {
     text-align: center;
	 font-family: 'futura';
	 font-size: 75pt;
}


.splash {
    background-size: cover;
    
    background-image: url("coffee.jpeg");
    color: whitesmoke;
    font-weight: bold;
    font-size: 60pt;
    padding-left: 20pt;
    display: block;
	line-height: 120%;
}

#splashSection {
    display: flex;
    align-content: center ;
    justify-content: center;
    background-color: whitesmoke;
    background-position: center center;
    height: 500px;
    display: flex; 

}


#milan { 
    display: grid; 
    grid-column-start: 1;
    grid-column-end: 4;
    grid-template-columns: 33.33% 33.33% 33.33%;
}

.center {
  display: block;
  margin-left: 500px;
  margin-right: auto;
  width: 40%;
}
p {
	
	
}

/* === Add New CSS Below === */
