/* 
Lab: Basics Grids and Flexbox
=== Do not change CSS below === 
*/


* {
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 14pt;
    line-height: 18pt;
    padding: 0;
    margin: 0;
    color: white;
	height: 500px;
	display: grid;
	background: url("pastry.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	
	

}

header {
	
 display: grid;
    padding: 40px 20px 40px 20px;
    background-color: whitesmoke;
    grid-template-columns: 50% 50%;
}

main {
    padding: 20px;
	grid-row-gap: 25px;
}



nav {
    
	margin-right: 50px;
	text-align: right;
	
	
}

a {
    text-decoration: none;
    color: #3B3B3B;
    margin: 20px;
	
}

h1 {
	font-family: 'Abril Fatface';
    font-weight: normal;
    font-size: 50pt;
    color: black;
    margin-top: 10%;
	margin-left: 600px;
}



p {
	display: grid;
	grid-template-columns: 50% 50%;
	background-color: #262D33;
	padding-top: 20px;
		padding-bottom: 20px;
	padding-left: 50px;
	padding-right: 50px;
	width: 75%;
	margin-left: 12%;
	font-size: 12px;
	text-align: center;
	margin-top:-70px;
	opacity: 0.7;
	
}
.column {
  float: right;
}
nav {
	margin-left: 200px;
}
img {
	margin-left: 25%;
}
#margin {
	margin-left: 30%;
	margin-right: 30%;
}
/* === Add New CSS Below === */
